body {
    font-family: Arial, sans-serif;
    background-color: #3a3a3a;
    color: white;
    text-align: center;
}

.game-container {
    margin-top: 50px;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#resultScreen {
    margin-top: 20px;
    border: 1px solid white;
    padding: 10px;
}

#gameId {
    margin-top: 20px;
    border: 1px solid white;
    padding: 10px;
}
